

body{
    display: flex;
    flex-direction: column;
    font-family: "roboto";
}
ul{
    display: flex;
    list-style: none;
    gap: 1em;
}
a{
    text-decoration: none;
    color: white;
}
.subtext, a{
    font-size: 18px;
    color: #E5E7Eb; 
}
button{
    width:6em;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    margin-bottom: 1em;
}
img{
    width: 300px;
    height: auto;
}
.header, .titlecontainer{
    padding-left: 10%;
    padding-right: 10%;
}
.image{
    display: flex;
    border: 1px solid blanchedalmond;
    justify-content: center;
    align-items: center;
    flex:1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}
.headlogotext{
    font-size: 24px;
    color: #F9FAF8;
}
.titlecontainer{
    
    background-color: #1F2937;
    display: flex;
    color: white;
    border: 1px solid green;
    padding-top: 3em;
    padding-bottom: 3em;
}
.maintextcontainer{
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    flex:1;
    gap: 1em;
}
.maintext{
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8; 
}
.infotext{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    font-size: 32px;
    color: black;
}
.infocontainer{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding-bottom: 4em;
}
.imgcontainer{
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.squareitem{
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 5px;
}
.itemtext{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.quote{
    font-weight: light;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    
}
.quotecontainer{
       background-color: #E5E7Eb;
       font-size: 30px;
       text-align: right;
       padding-top: 2em;
       padding-bottom: 2em;
       padding-left: 10%;
       padding-right: 10%;
}