

body{
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    margin: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 1em;
}
a{
    text-decoration: none;
    color: white;
}
.subtext, a{
    font-size: 18px;
    color: #E5E7Eb; 
}
.titlebutton{
    width:6em;
    height: 2em;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    border-color: white;
    border: 0;
}
img{
    width: 300px;
    height: auto;
}
.header, .titlecontainer{
    padding-left: 10%;
    padding-right: 10%;
}
.image{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.header, .footer{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
}
.header{
    justify-content: space-between;
}
.footer{
    justify-content: center;
    padding: 2em;
}
.headlogotext{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;;
}
.titlecontainer{
    
    background-color: #1F2937;
    display: flex;
    flex: 1;
    color: white;
    gap: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}
.maintextcontainer{
    color: white;
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 2em;
}
.maincontainer{
    display: flex;
    flex-direction: column;
}
.maintext{
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8; 
}
.infotext{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    font-size: 32px;
    color: black;
}
.infocontainer{
    display: flex;
    background-color: white;
    flex: 1;
    flex-direction: column;
    padding-bottom: 4em;
}
.imgcontainer{
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.squareitem{
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}
.itemtext{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.quote{
    font-weight: light;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    
}
.quotecontainer{
       background-color: #E5E7Eb;
       flex: 1;
       font-size: 30px;
       text-align: right;
       padding-top: 2em;
       padding-bottom: 2em;
       padding-left: 10%;
       padding-right: 10%;
}
.actioncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
.actioncontainer1{
    display: flex;
    background-color: #3882f6;
    height: 100px;
    width: 80%;
}
.actionitem1{
    flex: 2;
    padding-left: 4em;
    gap:3px;
    align-self: center;
}
.actionitem2{
    align-self: center;
    padding: 4em;
}
.actionbutton{
    width:6em;
    height: 2em;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    border-color: white;
    border-width: 1px;
}