

body{
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    background-color: black;
    margin-left: 5em;
    margin-right: 5em;
}
ul{
    display: flex;
    list-style: none;
    gap: 1em;
}
a{
    text-decoration: none;
    color: white;
}
button{
    width:max-content;
    border-radius: 1em;
    background-color: blue;
    color: white;
    font-weight: 900;
    margin-bottom: 1em;
}
img{
    width: 300px;
    height: auto;
}
.header, .titlecontainer{
    padding-left: 5em;
    padding-right: 5em;
}
.image{
    display: flex;
    border: 1px solid blanchedalmond;
    justify-content: center;
    align-items: center;
    flex:1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}
.headerlogotext{
    font-size: 24px;
    color: white;
}
.titlecontainer{
    
    background-color: #1F2937;
    display: flex;
    color: white;
    border: 1px solid green;
}
.maintextcontainer{
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    flex:1;
    gap: 1em;
}
.maintext{
   font-size: 18px;;
   color: #E5E7Eb; 
}
